.center-container {
     width: max(70%); 
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
}
.add{
    width: 90%;
    margin-left: max(8%);
    margin-right: max(15%);
    margin-top: 10px ;
    color: #6d6d6d;
    font-size: 16px;
     
    flex-direction: column; /* Ensure contents are stacked vertically */
    align-items: center; 
}
.add h3{
    text-align: center;
}
.add textarea,select{
    border-radius: 10px;
}
.add.form-contain{
    justify-content: center;
    padding-right: 0%;
}
.add form{
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex-direction: column;
    margin:  75px 150px 75px;
    width: 70%;
    padding: 30px;
    padding-right: 20px;
    border:0px solid #a2a2a2;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.add-product-name, .add-product-description{
    width: max(70%);
}
.add-product-name input, .add-product-description textarea{
    padding: 10px;
    border-radius: 10px;
    border:1px solid tomato;

}
.add-category-price{
    display: flex;
    width: max(70%);
    gap: 30px;
}
.add-category-price select, .add-category-price input{
    padding: 10px;
    border-radius: 10px;
    border:1px solid tomato;
}
.add-btn{
    width: max(30%);
    border: none;
    padding: 10px;
    background-color: tomato;
    color: white;
    cursor: pointer;
    border-radius: 10px;


}

@media (max-width:1250px){
    .add-category-price{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: max(100%);
        margin-left: max(30%);
    }
  
}

@media (max-width:700px){
    .add{
        width: 100%;

    }

    .add-product-name , .add-product-description{
        width: max(100%);
    
    }
    .add-category-price{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: max(100%);
        margin-left: 0px;
    }
    .add-category-price select, .add-category-price input{
        max-width: 100%;
    }

    .add-button{
        width: max(100%);
    }
    .add-btn{
        margin-left: 0;
    }
}