.login-popup{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #00000056;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-popup-container {
    background: white;
    border-radius: 1.25rem;
    padding: 2rem;
    gap: 2rem;
    animation: fadeIn 0.5s ease;
}
.login-popup-container input{
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    border: 1px solid #d4d4d4;
}
.login-popup-container input::placeholder {
    text-transform: capitalize;
}
.signup-popup-condition{
    padding-inline: 0 1rem ;
    width: 100%;
    align-self: flex-start;
    gap: 0.5rem;
    font-size: 0.9rem;
}
label{
    cursor: pointer;
}
input[type="checkbox"]{
    cursor: pointer;
}
.popup-title{
    justify-content: space-between;
    align-items: center;
}
.popup-inputs {
    gap: 1rem;
}
.popupState span {
    cursor: pointer;
    color: tomato;
}
.popup-title img{
    cursor: pointer;
}