.aboutus {
    border-top: 1px solid rgb(206, 206, 206);
    padding-top: 3rem;
    margin-top: 1rem;
}
.img-container{
    margin-top: 2rem;
    position: relative;
    margin-right: 15rem;
}
.img-container .bg {
    user-select: none;
    width: 20rem;
    height: 35rem;
    border-radius: 0.75rem;
    background: linear-gradient(to left, tomato ,rgb(255, 145, 82));
}
.img-container img {
    position: absolute;
    bottom: 0rem;
    left: 60%;
}
.content .title{
    font-weight: 600;
} 
.content .team {
    margin-top: 2rem;
}