.placeOrder {
    padding-inline: 8rem;
    padding-top: 4rem;
    display: flex;
    justify-content: space-between;
}
input::placeholder{
    text-transform: capitalize;
}
.delivery-info{
    width: 100%;
    max-width: max(30%, 40rem);
}
input{
    width: 100%;
    margin-block: 0.5rem;
    padding: 1rem 0.75rem;
    border-radius: 0.5rem;
    border: 1px solid #e4e4e4;
    outline-color: tomato;
}
.multi-fields{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
form.placeOrder .order-details{
    width: 100%;
    max-width: max(40% , 30rem);
}
.checkout-content > div {
    padding-top: 0.75rem;
}
.checkout-content button {
    margin-top: 2rem;
}