.header {
    height: 34vw;
    margin: 5rem auto;
    background: url('\header_img.png') no-repeat;
    background-size: contain;
    position: relative;
}
.header::before{
    height: 34vw;
    content: '';
    border-radius: 1.5rem;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.397), rgba(0, 0, 0, 0));
    bottom: 0;
}
.header-contents{
    position: absolute;
    align-items: flex-start;
    gap: 1.5rem;
    max-width: 60%;
    bottom: 5rem;
    left: 5rem;
    color: white;
    animation: fadeIn 3s ;
}
.header-contents h2 {
    font-size: max(3.5vw, 1.5rem);
    font-weight: 500;
}
.header-contents p {
    font-size: 1.15rem;
}
@media (max-width:1120px) {
    .header::before{
        border-radius: 0.75rem;
    }
    .header-contents{
        max-width: 70%;
    }
    .header-contents p {
        display: none;
    }
    .header-contents button {
        padding: 0.5rem 1rem;
    }
}
@media (max-width:760px) {
    .header-contents{
        bottom: 50%;
        transform: translateY(50%);
    }
}