.footer {
    padding: 5rem 5rem 2rem;
    background: rgb(49, 49, 49);
    color: white;
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
}
.footer .company{
    align-items: flex-start;
}
.footer .company p {
    width: 20rem;
    font-size: 0.9rem;
}
.footer-content {
    width: 90%;
    justify-content: space-between;
    margin: auto;
    align-items: flex-start;
}
.footer-content > div {
    gap: 1rem;
    align-items: center;
    list-style: none;
} 
.footer-content ul {
    list-style: none;
    gap: 0.25rem;
}
.footer h3 {
    text-transform: uppercase;
}
.footer hr{
    background: rgb(95, 95, 95);
    height: 2px;
    width: 100%;
    border: none;
    margin-block: 1rem;
}