.list-table-title{
    display: grid;
    grid-template-columns:1fr 1.3fr 1fr 1.3fr 0.6fr;
    align-items: center;
    gap: 10px;
    padding: 12px 15px;
    border-bottom: 5px solid tomato;
    font-size: 18px;
    margin-bottom: 10px;
}
.list-add{
    display: flex;
    flex-direction: column;
}
.list-table-format{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr ;
    align-items: center;
    gap: 10px;
    padding: 12px 15px;
    border-bottom: 1px solid #cacaca;
    margin-bottom: 10px;
    font-size: 1.2rem;
    border:none;
    border-bottom-left-radius:20px ;
    border-bottom-right-radius:20px ;
    box-shadow:  2px 4px 15px #aaaaaa;

}

.list-table-format img{
    width: 60px;
    border-radius: 10px;
}
.actions{
    display: flex;
    gap: 8px;
    justify-content: center;
    
}
.list-table{
    padding-bottom: 100%;
}
.topic{
    font-size: 1.3em;
    max-width: 160;
    font-weight: 600;
    color: tomato;
}

.cursor{
    cursor: pointer;
    color: rgb(203, 5, 5);
    font-size: 0.8rem;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 25px;
    background-color: rgba(255, 99, 71, 0.508);
    margin-right: 0px;
    transition: 0.3s ease;
}
.update-cursor{
    cursor: pointer;
    color: rgb(18, 203, 5);
    font-size: 0.8rem;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 25px;
    background-color: rgba(111, 255, 71, 0.508);
    margin-right: 0px;
    transition: 0.3s ease;
}
.update-cursor:hover{
    color: rgb(9, 169, 20);
    background-color: #fff;
    border: 1px solid #acacac;
}
.cursor:hover{   
    color: tomato;
    background-color: #fff;
    border: 1px solid #acacac;
  
}
.list-table-format  {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease forwards;
}

.popup-class{
    width: 100%;
    display: flex;
    justify-content: center;
    
    position: fixed;
    top:10px;
    left: 15%;
    z-index: 1000;
}
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for overlay */
    z-index: 999; /* Ensure the overlay is behind the popup but above other elements */
  }








@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



@media (max-width:600px) {
    .list-table-format{
        grid-template-columns: 1fr 3fr 1fr;
        gap:15px
    }
    .list-table-title{
        display: none;
    }
}