/* General Layout */
.App{
    background: rgb(24, 22, 45); /* Gradient background */
}
  
  .container2 {
    display: flex;
    padding-left: 0%;
  }
  
  .allcontent {
    display: flex;

  }

  
  
  /* Adjust layout for smaller screens */
  @media (max-width: 768px) {
    .container {
      padding: 10px; /* Reduced padding for mobile */
      flex-direction: column; /* Stack items vertically */
    }
  
    .allcontent {
      flex-direction: column; /* Stack items vertically */
      width: 100%;
    }

    .container2{
        width: 100%;
    }

    .tablecontent{
        flex-direction: column; /* Stack items vertically */
        width: 100%;
    }
  }
  
  /* Additional utility styles */
  .hidden {
    display: none;
  }
  
  .text-center {
    text-align: center;
  }
  
  .mt-20 {
    margin-top: 20px;
  }
  
  .mb-20 {
    margin-bottom: 20px;
  }
  